//--------------------------------------
// 			PATRON DE COLORES
//--------------------------------------
$principal:#008442;
$texto:#44484a;
$secundario:#95caff;

#seccion_categoria{
	background-color: $secundario;	
}



/*.row{
	border: 1px solid blue;
}

.col{
	border: 1px solid red;
}*/

#barra_navegacion{
	background-color: #002851 !important;
}

#barra_pie_pagina{
	background-color: #002851 !important;
}

